<% include header_and_nav %> 
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h1>Poll Title: <%= poll.name %></h1>
      
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
    <table class="table table-bordered" style="width:100%">
        <tr>
            <th>Option</th>
            <th>Votes</th> 
            <th>Vote!</th>
        </tr>        
        <% poll.options.forEach(function(option){ %>
        <tr>
            <td> <%= option.name %> </td>
            <td> <%= option.votes %> </td>
            <td> <a href="/polls/vote/<%= poll._id %>/<%= option._id %> "><button class="btn">Vote!</button></a> </td>

               </br>
        <tr>
 		<% }); %> 
        </table>
    </div>
 	<div id="piechart" class="col-md-6">
 	</div>
  <hr>
	</div>
</div>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">

  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {
          var data = google.visualization.arrayToDataTable([
          ['Option', 'Votes'],
          <% poll.options.forEach(function(option){ %>
          ['<%= option.name %>', <%= option.votes %>],
          <% }); %>
      ]);
    var options = {'title':'Votes', 'width':400, 'height':300};
    var chart = new google.visualization.PieChart(document.getElementById('piechart'));
    chart.draw(data, options);
  }
  </script>
  <% include footer %>