<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Free Code Camp Poll site: Create Poll</title>

<!-- Bootstrap -->
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['Task', 'Hours per Day'],
          ['Work',     11],
          ['Eat',      2],
          ['Commute',  2],
          ['Watch TV', 2],
          ['Sleep',    7]
        ]);

        var options = {
          title: 'My Daily Activities'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
      }
    </script>
</head>
<body>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <h1>Poll Title: <%= poll.name %></h1>
      
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
    <table class="table table-bordered" style="width:100%">
        <tr>
            <th>Option</th>
            <th>Votes</th> 
            <th>Vote!</th>
        </tr>        
        <% poll.options.forEach(function(option){ %>
        <tr>
            <td> <%= option.name %> </td>
            <td> <%= option.votes %> </td>
            <td> <a href="/polls/vote/<%= poll._id %>/<%= option._id %> "><button class="btn">Vote!</button></a> </td>

               </br>
        <tr>
 		<% }); %> 
        </table>
        <form action="/polls/addOption/<%= poll._id %>" method="post">
          <input type="text" name="optionName" placeholder="Add an option"></input>
          <button class="btn">Add</button>
        </form>

        </form>
    </div>
 	<div id="piechart" class="col-md-6">
 	</div>
  <hr>
	</div>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Include all compiled plugins (below), or include individual files as needed --> 
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>